@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">¡Ups!</h1>
    <h2>Ocurrió un error al procesar tu solicitud.</h2>

    <p>
        Sentimos las molestias. Por favor, vuelve a intentarlo más tarde.
    </p>

    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Ir a Inicio</a>
</div>