@{
    ViewData["Title"] = "Contacto";
}
<h1>@ViewData["Title"]</h1>

<p>
    Contáctanos y hablemos sobre cómo potenciar tu empresa.
    <br />
    <br />
    ¡Estaremos encantados de atenderte! 
    <br />
    Explora las soluciones personalizadas que Sodexo tiene para optimizar tu negocio.
</p>
