@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <p class="lead text-muted">
        Bienvenido al
    </p>
    <h1>Sistema de Demo Sodexo</h1>
    <img src="~/images/sodexo.jpeg" class="img-fluid rounded shadow-lg mt-0" alt="Demo Sodexo" width="60%" />
    @* <img src="https://th.bing.com/th/id/OSK.HEROo4cKZq72bMNQW1BVGcnNlKv8ZIdkRG1rMfCi8xrSvPM?w=472&h=280&c=1&rs=2&o=6&dpr=1.3&pid=SANGAM" 
         class="img-fluid rounded shadow-lg mt-0" alt="Demo Sodexo" width="60%" /> *@
    
</div>
